Class {
    gradient: white vertical;
    elementIcon:false;
    shadow:false;
    /* qualifiedNameDepth:full; */
}

Class > Compartment[kind="attributes"] {
    visible:false;
}

Class > Compartment[kind="nestedclassifiers"] {
    visible:false;
}

Property {
	elementIcon: false;
	maskLabel: derived name type;    /* show these only on properties */
}

Property[type=""] {
	maskLabel: derived name;    /* don't show "<Undefined>" if no type */
}

Interface > Compartment[kind="attributes"] {
    visible:false;
}
Interface > Compartment[kind="nestedclassifiers"] {
    visible:false;
}