body {
  background: rgb(107, 106, 106)00;
  color: white;
  font-size: 20px;
}
#main {
  width: 486px;
  margin-right: auto;
  margin-left: auto;
}
.chess_board,
.draughts_board {
  width: 486px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  /* sprites for pieces */

  /* Controls */

}
.chess_board .place_l,
.draughts_board .place_l {
  background: #fff;
}
.chess_board .place_d,
.draughts_board .place_d {
  background: #928f8f;
}
.chess_board td,
.draughts_board td {
  background: #cccccc;
}
.chess_board .movemark,
.draughts_board .movemark {
  background: #339933;
}
.chess_board .place_d.selected,
.draughts_board .place_d.selected {
  background: #5c1b1b;
}
.chess_board .place_l.selected,
.draughts_board .place_l.selected {
  background: #d46f6f;
}
.chess_board .next,
.draughts_board .next {
  background: #ffa500;
}
.chess_board .board_green .place_l,
.draughts_board .board_green .place_l {
  background: #efeff2;
}
.chess_board .board_green .place_d,
.draughts_board .board_green .place_d {
  background: #88bb77;
}
.chess_board .board_green td,
.draughts_board .board_green td {
  background: #efeff2;
}
.chess_board .board_green .movemark,
.draughts_board .board_green .movemark {
  background: #339933;
}
.chess_board .board_green .place_d.selected,
.draughts_board .board_green .place_d.selected {
  background: #5c1b1b;
}
.chess_board .board_green .place_l.selected,
.draughts_board .board_green .place_l.selected {
  background: #d46f6f;
}
.chess_board .board_green .next,
.draughts_board .board_green .next {
  background: #ffa500;
}
.chess_board .board_blue .place_l,
.draughts_board .board_blue .place_l {
  background: #ccccee;
}
.chess_board .board_blue .place_d,
.draughts_board .board_blue .place_d {
  background: #6688bb;
}
.chess_board .board_blue td,
.draughts_board .board_blue td {
  background: #ccccee;
}
.chess_board .board_blue .movemark,
.draughts_board .board_blue .movemark {
  background: #339933;
}
.chess_board .board_blue .place_d.selected,
.draughts_board .board_blue .place_d.selected {
  background: #5c1b1b;
}
.chess_board .board_blue .place_l.selected,
.draughts_board .board_blue .place_l.selected {
  background: #d46f6f;
}
.chess_board .board_blue .next,
.draughts_board .board_blue .next {
  background: #ffa500;
}
.chess_board .board_red .place_l,
.draughts_board .board_red .place_l {
  background: #dddddd;
}
.chess_board .board_red .place_d,
.draughts_board .board_red .place_d {
  background: #663333;
}
.chess_board .board_red td,
.draughts_board .board_red td {
  background: #dddddd;
}
.chess_board .board_red .movemark,
.draughts_board .board_red .movemark {
  background: #339933;
}
.chess_board .board_red .place_d.selected,
.draughts_board .board_red .place_d.selected {
  background: #5c1b1b;
}
.chess_board .board_red .place_l.selected,
.draughts_board .board_red .place_l.selected {
  background: #d46f6f;
}
.chess_board .board_red .next,
.draughts_board .board_red .next {
  background: #ffa500;
}
.chess_board .board_brown .place_l,
.draughts_board .board_brown .place_l {
  background: #ddcc88;
}
.chess_board .board_brown .place_d,
.draughts_board .board_brown .place_d {
  background: #662810;
}
.chess_board .board_brown td,
.draughts_board .board_brown td {
  background: #ddcc88;
}
.chess_board .board_brown .movemark,
.draughts_board .board_brown .movemark {
  background: #339933;
}
.chess_board .board_brown .place_d.selected,
.draughts_board .board_brown .place_d.selected {
  background: #5c1b1b;
}
.chess_board .board_brown .place_l.selected,
.draughts_board .board_brown .place_l.selected {
  background: #d46f6f;
}
.chess_board .board_brown .next,
.draughts_board .board_brown .next {
  background: #ffa500;
}
.chess_board table,
.draughts_board table {
  border-collapse: collapse;
}
.chess_board table td a,
.draughts_board table td a {
  color: #000;
  display: block;
  position: relative;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
.chess_board table td,
.draughts_board table td {
  border: none;
  padding: 0;
  margin: 0;
  height: 60px;
  width: 60px;
  text-align: center;
  vertical-align: middle;
}
.chess_board table .place_l,
.draughts_board table .place_l,
.chess_board table .place_d,
.draughts_board table .place_d {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
.chess_board table .placelink,
.draughts_board table .placelink {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.chess_board .info,
.draughts_board .info {
  font-size: 15px;
  height: 20px;
  width: 480px;
  padding: 0;
  margin: 0;
  color: black;
}
.chess_board .info div,
.draughts_board .info div {
  float: left;
  width: 50%;
  height: 100%;
  background: #ddd;
  padding: 0;
  margin: 0;
}
.chess_board .info img,
.draughts_board .info img {
  height: 20px;
}
.chess_board .info .overCounted,
.draughts_board .info .overCounted {
  background: red;
}
.chess_board img.piece,
.draughts_board img.piece {
  display: inline;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 100;
}
.chess_board .controls,
.draughts_board .controls {
  overflow: auto;
  width: 480px;
}
.chess_board .controls img.bcontrol,
.draughts_board .controls img.bcontrol {
  display: block;
  float: right;
  padding: 0;
  margin: 0;
  width: 48px;
  height: 48px;
  padding: 6px;
  opacity: .2;
}
.chess_board .controls img.active,
.draughts_board .controls img.active {
  opacity: 1;
}
.draughts_board {
  width: 606px;
}
.draughts_board .info {
  width: 600px;
}
.draughts_board .controls {
  width: 600px;
}
/* jqModal base Styling courtesy of;
	Brice Burgess <bhb@iceburg.net> */
/* The Window's CSS z-index value is respected (takes priority). If none is supplied,
	the Window's z-index value will be set to 3000 by default (via jqModal.js). */
.jqmWindow {
  display: none;
  position: absolute;
  top: 60px;
  left: 60px;
  width: 360px;
  height: 180px;
  background: #222;
  color: #fff;
  border: 1px solid black;
  padding: 0;
}
.jqmWindow h1 {
  background: #aac;
  color: #000;
  margin: 0;
  padding: 5px;
  font-size: 30px;
}
.jqmWindow img {
  background: #ddd;
  border: 2px solid blue;
  margin: 10px;
}
.jqmOverlay {
  background-color: #000;
}
